@import './base.css';
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

#app {
  font-family: Raleway, sans-serif;
  color: #fff;
  height: 100vh;
  background-image: linear-gradient( to right, #0E041D, #150323);
}


@media (hover: hover) {
  a:hover {
    
  }
}

@media (min-width: 1024px) {

}
